

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

Set width on the form input elements since they're 100% wide by default'
input,
select,
textarea {
    max-width: 280px;
}



#header {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 1px;
    text-align: center;
}

#content {
    float: left;
    padding: 10px;
}

#navbar {
    padding: 10px;
    background-color: lightskyblue;
    color: white;
    align-items: center;
    margin-right: auto;
    text-align: center;
}

#footer {
    text-align: center;
    clear: both;
    border: 2px solid black;
    background-color: lightskyblue;
    color: black;
    margin-top: 600px;
}


table {
    width: 1500px;
    margin: auto;
}

table, th, td {
    border: 2px solid black;
}

h1{
    text-align:center;
}

h2 {
    text-align: center;
}