
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <h1>@ViewData["msj"]</h1>

        <h2>@ViewBag.FechaHora</h2>
    </div>
</body>
</html>